@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: 20px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #4b5563;
      opacity: 0.5;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #64748b;
      border-radius: 100vh;
      border: 3px solid #4b5563;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #9ca3af;
    }
  }
